.ui-loading{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}

.ui-loading-mask{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: #000;
	opacity: 0.2;
}

.ui-loading i{
	height: 90px;
	width: 90px;
	display: block;
	background: url(mask.gif) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	z-index: 2;
}